build
*.kdev4
*~
/nbproject/private/
CMakeCache.txt
CMakeFiles
CPack*
Doxyfile
nbproject
cmake_install*
Makefile
*.a
bin
html
latex
*.vcxproj
*.vcxproj.filters
*.sln
*.vcxproj.user
*.sdf
*.opensdf
Win32
ipch
*.suo
cmakeinit.bat